<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/9b317f2b-15ed-4275-a703-b952251b6521/resourceGroups/capstone-linuswieland/providers/Microsoft.Web/sites/NetCoreWebApi-2-2</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://netcorewebapi-2-2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>netcorewebapi-2-2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>NetCoreWebApi-2-2</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$NetCoreWebApi-2-2</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>